{%extends 'base.html' %}

{% block head  %} 
<title>Projet WS</title>
<style>
    body{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        background-color:  lightskyblue;
    }
    div.jumbotron{
        background-color:  lightskyblue;

    }
</style>
{% endblock %}

{% block body  %} 
<div class="container">
    <div class="jumbotron text-white text-center">
        <h1 class="display-4">Veuillez remplir les champs ci-dessous avec vos informations personnelles:</h1>
        <form action="/consultation" method="POST">
            <form action="/consultation" method="POST">
                <div class="form-group row">
                    <div class="col-6">
                        <input
                            type="text"
                            required
                            placeholder="Prenom"
                            class="form-control"
                            id="prenom"
                            name="prenom"
                        />
                    </div>
                    <div class="col-6">
                        <input
                            type="text"
                            required
                            placeholder="Nom"
                            class="form-control"
                            id="nom"
                            name="nom"
                        />
                    </div>
                </div>
                <div class="from-group row">
                    <div class="col-2">
                        <input
                            type="text"
                            required
                            placeholder="Sexe"
                            class="form-control"
                            id="sexe"
                            name="sexe"
                        />
                    </div>
                    <div class="col-2">
                        <input
                            type="text"
                            required
                            placeholder="Age"
                            class="form-control"
                            id="age"
                            name="age"
                        />
                    </div>
                    <div>
                        <div class="col-12">
                            <input
                                type="text"
                                required
                                placeholder="Situation Familiale"
                                class="form-control"
                                id="situation _familiale"
                                name="situation_familiale"
                            />

                    </div>
                        </div>
                      <div class="col-6">
                        <input
                            type="text"
                            required
                            placeholder="daira"
                            class="form-control"
                            id="daira"
                            name="daira"
                        />
                    </div>
                      </div>
                      <div class="col-6">
                        <input
                            type="text"
                            required
                            placeholder="wilaya"
                            class="form-control"
                            id="wilaya"
                            name="wilaya"
                        />
                    </div>
                     <div class="col-6">
                        <input
                            type="text"
                            required
                            placeholder="symptome1,syptome2,syptome3..."
                            class="form-control"
                            id="symptome"
                            name="symptome"
                        />
                    </div>
                     <div class="col-6">
                        <input
                            type="text"
                            required
                            placeholder="maladie chronique1,maladie chronique2,maladie chronique3..."
                            class="form-control"
                            id="maladie chronique"
                            name="maladie chronique"
                        />
                    </div>
                     <div class="col-6">
                        <input
                            type="text"
                            required
                            placeholder="durée depuis le dernier voyage"
                            class="form-control"
                            id="durée_dernier_voyage"
                            name="durée_dernier_voyage"
                        />
                    </div>
                     <div class="col-6">
                        <input
                            type="text"
                            required
                            placeholder="durée depuis apparition de symptomes "
                            class="form-control"
                            id="durée_appsymp"
                            name="durée_appsymp "
                        />
                     </div>
                
                    
                    
                    
                    
                </div>

                <div class="col-12 text-center">
                    <input type="submit" class="btn btn-primary mt-5" value="Submit" />
                </div>
            </form>

                
        </form>
       
  </div>
</div>


{% endblock %}